@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:wght@400;700&display=swap");

* {
  font-family: "IBM Plex Sans Condensed", sans-serif;
}

/* ------------------------------------------- */
a,
li {
  text-decoration: none;
  list-style-type: none;
}
/* ---------------------------------------------- */
.breadcrumb {
  margin-bottom: 0;
  background-color: #efefef;
  height: 2.3rem;
  align-items: center;
  font-size: 17px;
}

.breadcrumb-item a {
  color: #6c757d;
  margin-left: 3rem;
}

.breadcrumb-item.active {
  color: #1c1c1c;
}

.product-header {
  font-size: 4rem;
  font-weight: 300;
  text-align: center;
  padding: 1rem 0 2rem 0;
}

/* ------------------------------------------------------ */
.function__bar {
  font-size: 18px;
}

.filter__column {
  height: 4rem;
  border-top: rgb(214, 214, 214) 1px solid;
  border-bottom: rgb(214, 214, 214) 1px solid;
  border-right: rgb(214, 214, 214) 1px solid;
  align-content: center;
}
.filter__header__title {
  color: black;
  margin-left: 5rem;
  font-size: 37px;
  font-family: Instrument Serif;
  letter-spacing: 13px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}

.filter__container {
  display: flex;
  align-items: center;
  justify-content: end;
  /* margin-left: 6rem; */
}

.filter__title {
  cursor: pointer;
  border: none;
  background-color: white;
  margin-left: 5px;
}

#filter__button {
  color: white;
  background-color: rgb(48, 48, 48);
  display: flex;
  margin-inline: auto;
}

.function__bar .quantity__column {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  border-top: rgb(214, 214, 214) 1px solid;
  border-bottom: rgb(214, 214, 214) 1px solid;
}

.pix__text {
  margin-left: 5px;
  color: #888888;
}

.sort__column {
  height: 4rem;
  border-top: rgb(214, 214, 214) 1px solid;
  border-bottom: rgb(214, 214, 214) 1px solid;
  border-left: rgb(214, 214, 214) 1px solid;
  align-content: center;
}
.sort__column img {
  margin-right: 5px;
}

.function__bar .sort__container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.filter-sort {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.apply__container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.apply__button {
  color: black;
  background: white;
  font-size: 18px;
  transition: all 0.5s;
}
.apply__button:hover {
  background-color: black;
  color: white;
  transform: scale(1);
}

/* ------------------------------------------------------ */
.list__product__element a {
  text-decoration: none;
  color: black;
}

#list__product__row {
  display: flex;
  flex-wrap: wrap;
}

.list__product {
  cursor: pointer;
  margin-top: 2%;
  width: 1600px;
}

#list__product__row {
  display: flex;
}

.list__product .product {
  opacity: 1;
  z-index: 1;

  background: #fff;
  border: 1px dotted #0000;
  border-radius: 9px;
  transition: 0.2s cubic-bezier(0.345, 0.115, 0.135, 1.42),
    opacity 0.15s ease-out, border-color 0.2s ease-out;
}

.list__product .product:hover {
  transform: scale(1.05);
}

.list__product .favorite__icon {
}

.list__product .product__image {
  display: flex;
  justify-content: center;
}

/* Định dạng cho hình ảnh */
.product__image img {
  margin-top: 2%;
  width: 95%;
}

.product__title {
  margin-left: 3%;
  font-size: 20px;
}

.product .title {
  font-weight: 300;
}

.product__price {
  font-size: 16px;
  font-weight: 400;
}

.product__discount {
  font-size: 15px;
}

/* --------------------------------------------------------- */
#pagination__bar {
  margin-top: 3%;
}

#pagination__bar .pageNumber:active {
  color: white;
}

.paginationWrapper {
  display: flex;
  justify-content: center;
}

.pagination .page-link {
  display: block;
  padding: 0.5rem 0.75rem;
  color: #000000;
  /* Màu sắc */
  text-decoration: none;
  border: none;
  border-radius: 4px;
}

/* Đổi màu khi di chuột */
.pagination .page-link:hover {
  color: white;
  background-color: #565656;
}

/* ------------------------------------------------- */
.product__title {
  margin-top: 12px;
}
.product-card {
  margin-right: 20px;
}
.see-more-btn {
  border-radius: 0px;
}
.cardWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  flex: 1 1 calc(50% - 50px); 
  max-width: calc(50% - 50px); 
  box-sizing: border-box;
}
